.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px dashed #ccc;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  background-color: rgb(245 245 245);
  min-width: 400px;
  min-height: 150px;
  gap: 10px;
  cursor: pointer;
}

.dropzone-icon {
  margin-top: 5px;
  height: 50px;
}

.dropzone-heading{
  font-size: 20px;
  font-weight: bold;
}

.error{
  color: red;
  text-align: center;
  font-size: 20px;
  inline-size: 600px;
  overflow-wrap: break-word;
}

.canvas-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  gap: 10px;
}

.canvas-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.canvas-size-input{
  font-size: 15px;
  padding: 2px;
  margin: 2px;
}

.download-btn {
  padding: 10px;
  background-color: #fd79a8;
  box-shadow: 3px 2px 4px #888888;
  border: none;
  color: white;
  border-radius: 5px;
}

.download-btn:hover {
  cursor: pointer;
  background-color: #e84393;
}